


table.dataTable.no-footer {
    margin-bottom: 20px;
}


th {
    color: white;
}

.tocify .tocify-item a, .tocify .list-group-item{
  font-size: 12pt;
  color:#262324;
  text-align: left;
}

body{
  font-family: Avenir Next;
  font-size: 20pt;
  font-color:white;
  line-height: 1.5;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 22pt;
  color:#F5E487;
  text-align: center;
}

h2{
	text-align: left;
}

body {
    background-color: #262324;
}

.output_style {
color:#E26069;
font-size: 24pt;
}